.container__big-card {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container__big-card img {
    border-radius: 4px;
    width: 100%;
    height: fit-content;
}

.container__big-card p {
    text-align: justify;
    color: #9b9a9a;
} 